@import url(‘https://fonts.googleapis.com/css?family=Oswald:300|Roboto+Mono|Roboto:900&display=swap’);
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

li {
  list-style: none;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav {
  background-color: #F8E067;
  display: flex;
  justify-content: flex-end;
}

ul {
  color: #3e7b9b;
  display: flex;
  margin: 0;
  padding: 1rem;
  font-weight: bold;
  text-align-last: right;
}

section.hero {
  height: 30rem;
  background-image: url("./images/downtown.jpg");
  background-size: 225%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.hero header {
  color: #3e7b9b;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background: rgb(248, 224, 102);
  background: linear-gradient(180deg, rgba(248, 224, 102, .75) 0%, rgba(237, 95, 92, .75) 100%);
}

section.plane {
  background-color: #ED5F5C;
}

section.featured {
  background-color: #9BC4CB;
}

section.topDestinations {
  background-color: #9BC4CB;
}

section.imgDescription {
  background-color: #E6E6E6;
}

form.contact {
  background-color: #E6E6E6;
}

footer {
  background-color: #F08889;
}

img {}